div.zentai{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px 200px;
    grid-gap: 10px;
    width: 1000px;
    margin: 50px;
    padding: 100px;
}
.zentai > div{
    padding: 5px;
    display: grid;
	border:4px solid navy;
}
div > h2{
    text-align: center;
    text-shadow: 0.03em 0.08em 0.1em red;
	color:blue;
}
body > h2 {
    font-size: 150%;
    text-align: center;
}
h1{
    text-align: center;
    border-bottom: dashed 2px #1ff852;
    color:rgb(237, 148, 53)
}
button{
    width:15em;
    height:3em;
    font-size: 110%;
    text-align: center;
}
div > span{
    font-size: 150%;
    text-align: center;
}
