div.zentai{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px 200px;
    grid-gap: 10px;
    width: 1000px;
    margin: 50px;
    padding: 100px;
}
.zentai > div{
    padding: 5px;
    display: grid;
	border:4px solid navy;
}
h1{
    text-align: center;
    text-shadow: 0.03em 0.08em 0.1em red;
	color:blue;
}